{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login-join.css' %}">
</head>
<div class="main">
    <div class="container">
        <h2 class="title">로그인</h2>
        <p class="description">아이디와 비밀번호를 입력하고 로그인하세요</p>

        <form class="login" method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">                                                           
                <label for="{{field.id_for_label }}">{{field.label}}:</label>
                <input type="{{field.field.widget.input_type}}" class="form-control" id="{{field.id_for_label }}"
                            placeholder="{{field.label}}" name="{{field.name}}"/>
            </div>
            {% if field.errors %}
            <span style="color: red">{{field.errors}}</span>
            {% endif %}
            {% endfor %}
            <button class="submit-button" type="submit">로그인</button>
            <a href="{% url 'blog:list' %}">돌아가기</a>
        </form>
    </div>
</div>
{% endblock %}
