{% extends 'base.html' %}
{% block content %}
<div class="main">
    <div class="container">
        <h2 class="title">로그인</h2>
        <p class="description">아이디와 비밀번호를 입력하고 로그인하세요</p>

        <form class="login" method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <input type="checkbox" id="save-id" name="saveId">
                <label for="save-id">아이디 저장</label>
            </div>
            <button class="submit-button" type="submit">로그인</button>
        </form>
    </div>
</div>
{% endblock %}
