{% extends 'base.html' %}
{% block content %}
<div class="main">
    <div class="container">
        <h2 class="title">회원가입</h2>
        <p class="description">
            원활한 서비스를 이용을 위해 회원가입을 해주세요
        </p>

        <form class="register" method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            </div>
            <button class="submit-button" type="submit">회원가입</button>
            <a href="{% url 'blog:list' %}">돌아가기</a>
        </form>
    </div>
</div>
{% endblock %}
