<!DOCTYPE html>
<html lang="ko-KR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            {{ title }}
        {% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static common.css%}">
    <link rel="stylesheet" href="{% static table.css %}">
    <link rel="stylesheet" href="{% static list.css %}">
</head>

<body>
    {% block content %}
    {% endblock %}
    <!-- footer -->
    <p class="footer">Copyright 2023. Chilli All rights reserved.</p>
    <!-- //footer -->
</body>

</html>
