{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login-join.css' %}">
</head>
<div class="main">
    <div class="container">
        <h2 class="title">Change Password</h2>
        <p class="description">
            Here you can change your password.
        </p>

        <form class="password_change" method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="submit-button" type="submit">Change password</button>
            <a href="{% url 'blog:list' %}" class="button">Back</a>
        </form>
    </div>
</div>
{% endblock %}
