{% extends 'base.html' %}

{% block content %}
{{ post.update_counter }}
    <h1>제목: {{ post.title }}</h1>

    {% if post.writer == request.user %}
    <a href="{% url 'blog:edit' post.id %}" class="btn">수정</a>
    <form action="{% url 'blog:delete' post.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="삭제" class="btn">
    </form>
    <a href="{% url 'blog:list' %}">돌아가기</a>
    {% endif %}

    <p>내용: {{ post.content }}</p>
    <!-- {% if post.img %} -->
    <img src="{{ post.img.url }}" alt="image" width="700">
    {% endif %}
    <p>작성자: {{ post.writer }}</p>
    <p>작성일: {{ post.created_at }}</p>
    <p>조회수: {{ post.hit }}</p>
    <hr>
{% endblock %}
