{% extends 'base.html' %}

{% block content %}
<div class="main">
    <h1 class="main-title">
        {{ title }}
    </h1>

    <div>
        <form class="search-form" method="get" action="{% url 'blog:search' 'tag' %}">
            <label for="category" class="a11y-hidden">카테고리</label>
            <select id="category" name="category">
                <option value="">전체</option>
                <option value="공지사항">공지사항</option>
                <option value="일반">일반</option>
            </select>
            <label for="tag" class="a11y-hidden">Search</label>
            <input id="tag" type="search" name="tag" placeholder="Please enter a search term">
            <label for="sort" class="a11y-hidden">정렬</label>
            <select id="sort" name="sort">
                <option value="oldest">날짜 오름차순</option>
                <option value="newest">날짜 내림차순</option>
            </select>
            <button type="submit">검색</button>
        </form>
        
    </div>

    <!-- 게시판 리스트 -->
    {% if posts %}
    <table class="table table-bordered">
        <colgroup>
            <col style="width: 40px">
            <col style="width: 60px">
            <col>
            <col style="width: 100px">
            <col style="width: 120px">
            <col style="width: 100px">
        </colgroup>
        <thead class="table-light">
            <tr>
                <th>카테고리</th>
                <th>제목</th>
                <th>내용</th>
                <th>작성자</th>
                <th>일자</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.category }}</td>
                <td><a href="{% url 'blog:detail' post_id=post.pk %}" class="btn">{{ post.title }}</a></td>
                <td>{{ post.content }}</td>
                <td>{{ post.writer }}</td>
                <td>{{ post.created_at }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>작성된 게시물이 없습니다.</p>
    {% endif %}
    <div class="btn-group">
        <a href="{% url 'blog:write' %}" class="btn">글쓰기</a>
        <a href="{% url 'blog:list' %}" class="btn">전체 게시글보기</a>
        <a href="{% url 'accounts:login' %}" class="btn">로그인</a>
        <a href="{% url 'accounts:logout' %}" class="btn">로그아웃</a>
    </div>
</div>
{% endblock %}
