{% extends 'base.html' %}

{% block content %}
    <h1>제목: {{ post.title }}</h1>

    {% if post_writer == request.user %}
    <a href="{% url 'blog:edit' pk=post_id %}" class="btn">수정</a>
    <form action="{% url 'blog:delete' post_id=post_id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="삭제" class="btn">
    </form>
    {% endif %}

    <p>내용: {{ post.content }}</p>
    <!-- <p>작성자: {{ post_writer }}</p> -->
    <p>작성일: {{ post.created_at }}</p>
    <hr>
{% endblock %}
