{% extends 'base.html' %}

{% block content %}
<div class="main">
    <h1 class="main-title">
        {{ title }}
    </h1>


    <!-- 게시판 리스트 -->
    {% if posts %}
    <table class="table table-bordered">
        <colgroup>
            <col style="width: 40px">
            <col style="width: 60px">
            <col>
            <col style="width: 100px">
            <col style="width: 120px">
            <col style="width: 100px">
        </colgroup>
        <thead class="table-light">
            <tr>
                <th>카테고리</th>
                <th>제목</th>
                <th>내용</th>
                <th>작성자</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.category }}</td>
                <td><a href="{% url 'blog:detail' post_id=post.pk %}" class="btn">{{ post.title }}</a></td>
                <td>{{ post.content }}</td>
                <td>{{ post.writer }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>작성된 게시물이 없습니다.</p>
    {% endif %}
    <div class="btn-group">
        <a href="{% url 'blog:write' %}" class="btn">글쓰기</a>
    </div>
</div>
{% endblock %}
